
.is-transparent{
  background-color: #00ff00 !important;
}

.left {
  height: 20vh;
  width: 30vw;
  left: 0vw;
  top: 0vh;
  position: absolute;
}

.right {
  height: 20vh;
  width: 30vw;
  right: 0vh;
  top: 0vh;
  position: absolute;
}

.chroma-box {
  background: #00ff00 !important;
  left: 0vh;
  height: 40vh;
  width: 100vw;
  top: 0vh;
  position: fixed;
  z-index: -1;
}

.bottom {
  top: 90vh;
  left: 0vh;
  position: absolute;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.home-box {
  background-color: white;
  border: 5px solid #004cff;
  border-radius: 6px;
  display: block;
  padding: 0.5rem;
}

.away-box {
  background-color: white;
  border: 5px solid #ffdd00;
  border-radius: 6px;
  display: block;
  padding: 0.5rem;
}

.score-text {
  transform: translateY(-50%);
}

.home-oval-filled {
  width: 1rem;
  height: 4rem;
  background: #004cff;
  border-radius: 50px / 25px;
  border: 3px black solid;
  transform: rotate(5deg);
  display:inline-block;
  }

.oval-empty {
  width: 1rem;
  height: 4rem;
  background: #888888;
  border-radius: 50px / 25px;
  border: 3px black solid;
  transform: rotate(5deg);
  display:inline-block;
  }

.away-oval-empty {
  width: 1rem;
  height: 4rem;
  background: #888888;
  border-radius: 50px / 25px;
  border: 3px black solid;
  transform: rotate(-5deg);
  display:inline-block;
  }


.away-oval-filled {
  background: #ffdd00;
  width: 1rem;
  height: 4rem;
  border-radius: 50px / 25px;
  border: 3px black solid;
  transform: rotate(-5deg);
  display:inline-block;
}

figure {
  border: 3px black solid;
}