
.home-oval-filled {
  width: 1rem;
  height: 3rem;
  background: #004cff;
  border-radius: 50px / 25px;
  border: 1px black solid;
  transform: rotate(5deg);
  display:inline-block;
  }

.oval-empty {
  width: 1rem;
  height: 3rem;
  background: #4f4f4f;
  border-radius: 50px / 25px;
  border: 1px black solid;
  transform: rotate(5deg);
  display:inline-block;
  }


.away-oval-filled {
  background: #ffdd00;
  width: 1rem;
  height: 3rem;
  border-radius: 50px / 25px;
  border: 1px black solid;
  transform: rotate(5deg);
  display:inline-block;
}
